@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EnigmaVault</h1>
    <!-- this contaons the paragraphs details for the page --> 
    <p>Discover a world of knowledge at EnigmaVault! Uncover fascinating facts, explore diverse topics, and join a community passionate about learning. Your journey to enlightenment begins here – where curiosity meets wisdom. </a>.</p>
</div>
