html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 19px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E2FFE2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #75DDDD;
}

h1 {
    margin-top: 40px;
    color: forestgreen;
    text-align-last: center;
    font-size: 57px;
}

p {
    margin-bottom: 40px;
    color: green;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkslategray;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td{
    
}
th {
    background-color: black;
    color: lightseagreen;
}

tr:hover {
    background-color: mediumseagreen;
}

.table-actions a {
    text-emphasis-color: aqua;
    margin-right: 10px;
}


