@model IEnumerable<EnigmaQuest.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>General Knowledge Questions & Answers</h1>

<p>
    <a asp-action="Create">Add a New Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Questions</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GKQuestion)
            </td>
           
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Answer</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
